@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist-Thin.ttf');
    font-weight: 100;
}

body{
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    min-height: 100hv;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header{
    font-size: 18px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    background-color: rgb(126, 110, 151);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.nav{
    
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link{
    color: aliceblue;
    transition: .3s;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
}

.nav-link:hover{
    font-size: 22px;
    color: white;  
}

.nav-link{

}

.main{

}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section{
    width: calc(50%-20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #000000;
}

@media(max-width: 768px){
    .section{
        width: 100%;
    }
}
.section-profile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 35px;
    border-bottom: 1px solid #00000071;
}

.my-photo{
    border-radius: 50%;
}

li.location{
    margin: 0;
	padding: 5px 0 5px 30px;
	list-style: none;
	background-image: url("svg/location-pin-svgrepo-com.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
li.phone{
    margin: 0;
	padding: 5px 0 5px 30px;
	list-style: none;
	background-image: url("svg/phone-svgrepo-com.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
li.mail{
    margin: 0;
	padding: 5px 0 5px 30px;
	list-style: none;
	background-image: url("svg/email-8-svgrepo-com.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
li.github{
    margin: 0;
	padding: 5px 0 5px 30px;
	list-style: none;
	background-image: url("svg/github-142-svgrepo-com.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}